*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 4rem;
  font-family: sans-serif;
}

.App {
  max-width: 85%;
  margin: 5rem auto;
}

.pop-up {
  top: 1vh;
  left: 2vw;
  height: 98vh;
  width: 96vw;
  position: absolute;
  outline: 9999999px rgba(0, 0, 0, 0.85) solid;
  background: #fff;
  padding: 2rem;
}

.form-input {
  margin: 20px 0;
}

@media screen and (min-width: 40rem) {
  .pop-up {
    top: 10vh;
    height: 80vh;
    left: 20vw;
    width: 60vw;
  }
}

.active {
  background: #ccc;
}

.products-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.product {
  padding: 2rem;
  margin: 1rem;
  border: 1px solid #aaa;
}
